# Virtual environment
venv/
env/
ENV/
.venv

# Environment variables
.env
.env.local

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.db
instance/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

# Archives
*.zip

# SSH keys
*.pem
digital
digital.pub
*-key
keynocni.txt
awsspoji-key
new_public_key.txt
